@font-face {
	font-family: "CocoSharp";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/CocoSharp-Bold.otf") format("opentype");
}

@font-face {
	font-family: "CocoSharp";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/CocoSharp-Regular.otf") format("opentype");
}

@font-face {
	font-family: "CocoSharp";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/CocoSharp-Extrabold.otf") format("opentype");
}
@font-face {
	font-family: "Ernest and Emily";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/ErnestandEmily.otf") format("opentype");
}

.food-section,.food-section h4,.dinner .full span,.small, small,
.timing-banner.contect_part1 .contect_part11 p, .timing-banner.contect_part1 .contect_part12 p,
.subscribe-form a{
    font-family: "CocoSharp";
}

.food-section ul li,.food-section p,.food-section .form-check-label,
.be-wrapper .navbar-nav span,
.food-section .card .card-body span,.selection .price-span{
    font-size: 18px !important;
    font-family: "CocoSharp";
    font-weight: 400 !important; 
}
.food-section .card-header h4,.option3-section .full .head h4{
    font-family: "CocoSharp";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 28px;
}
.food-section .card-footer{
    padding: 0px !important;
    background-color: #fff !important;
}
.food-section .card-footer .selection{
    padding: 20px;
    
}
.dinner .full span{ 
    font-size: 18px;
}
.full-custom .content{
    height: auto;
}
.be-left-sidebar .sidebar-elements .active-first.main-option a{
    background-color: rgba(142, 195, 155, 0.7) !important;
}
.buffet-main-options .inner-title h3{
    font-size: 32px !important; 
    font-size: "coco" !important;
}
.buffet-main-options .inner-title ul li{
    font-size: 18px !important; 
    font-size: "coco" !important;
    font-weight: normal !important;
}
.food-section .full.full-custom .p-2{
    padding-top: 30px !important;
}
.tea-page .full-custom .content{
    height: 120px;
}
.lunch-page .full-custom .content{
    height: 230px;
}
.dinner-page .full-custom .content{
    height: 220px;
}
.promise_content h3,.catering_title p,
.promise_content h2,.catering_title h2,.about_content p,
.about_content h2,.about_content .about-p2,.slide_gel_title p,#slide_gal_area .slide_gel_title h2,
.eapps-instagram-feed-title,.praise_title h2,.ourcafe_content h2,.ourcafe_content a,.catering_content h2,
.catering_content a,.footer-social-icon span,
.banner_overlay_content.boct a,.promise_contentp,.top_review1 p,.ser_icons p,
.manu_title p,.manu_title h2,.manu_title .mtp,
.confirm-section .review_ul ul li,.confirm-section .time p,
.delivery-section .full h4,.delivery-section input[type='text'],
.buffet-main-options .title-buffet h3{
    font-family: "CocoSharp";
    
}
.promise_content h3{
    font-size: 32px;
    font-weight: 700;
}
.promise_content h2,.catering_title h2{
   font-size: 57px;
   font-weight: 800;
}
/* Cart page css */
.cart-page-title h3{
    font-size: 32px;
}
.confirm-section .review_ul ul li,.confirm-section .review_ul p{
    font-size: 18px;
}
.confirm-section .review_ul ul li{
    /* margin-bottom: 10px; */
    line-height: 1.5;
}
input[type=radio]:after,.xmas-themed-container input[type='checkbox']:after{
    width: 30px;
    height: 30px;
}
.form-check-input:focus{
    box-shadow: none;
}
.tea-page .full-custom .content{
    height:140px;
}
.lunch-page .full-custom .content{
    height:200px;
}
.dinner-page .full-custom .content{
    height:230px;
}
#sub-option img{
    object-fit: contain;
}
.be-left-sidebar:before{
    border-right: 0px !important;
}
.delivery-section{
    padding: 30px 53px;
}
.review-table .why-just{
    padding: 40px 60px 80px !important;
}
.detail-page  .review-table input[type='text']{
    height: 60px;
    border:2px solid #1B1A19;
    border-radius: 3px;
   
}
.detail-page  .review-table input[type='text']:focus{
    border:2px solid #8EC39B;
}
.detail-page .review-table input[type='text']::placeholder {
    font-size: 16px;
  }
  .review-table .note-info{
      font-family: "CocoSharp";
      font-size:18px;
      font-weight: 700;
      line-height: 32px;
      margin-top: 40px;
  }
.delivery-section .full h4{
    font-size: 24px;
    margin-bottom:35px;
}
.min-heigh{
    min-height: 575px;
}
.delivery-pickup{
    padding-left: 30px !important; 
}
.btn.btn-add-more{
    border: 3px solid #8EC39B;
   
    color: #8EC39B;
    padding: 20px 0px;
    margin: 50px 0px;
    transition: all .3s ease;
    font-size: 18px;
}
.review-page .btn.view-my-selection-button,.review-page .btn.btn-add-more{
    font-family: "CocoSharp";
    width: 65% !important;
    border-radius: 2px;
}
.review-page .btn.view-my-selection-button{
    font-size: 20px;
}
.btn.view-my-selection-button{
    font-size: 16px;
}
.price-span{
    color:#8EC39B !important;
    font-size: 20px;
}
.btn.btn-add-more:hover{
    background-color: #8EC39B;
    color: #fff;
}
.review-table-detail{
    padding-right: 50px !important;
}
.be-left-sidebar .sidebar-elements>li{
    border:2px solid #1B1A19 !important;
    border-radius: 2px;
}
.be-left-sidebar .sidebar-elements>li>a{
    color: #1B1A19;
    font-size: 24px;
    padding: 0px 10px ;
}
.be-left-sidebar .sidebar-elements a .additional{
    font-size: 16px;
    color: #1B1A19;
}
.promise_content{
    margin-top: 160px;
}
.xmas-themed-container .card-body{
    min-height: 200px;
}
.food-section .card-footer{
    padding-bottom: 10px !important;
}
.selection .selection-name {
    width: 50%;
}
.user-group-img span{
    font-size: 18px;
    color: #8EC39B  !important;
}
.cart-page-title h3{
    text-transform: uppercase;
}
.confirm-section .time p {
    font-size: 18px;
    line-height: 32px;
}
.review-table-detail .full{
    padding: 40px 40px 60px !important;
}
.border-custom{
    border: 3px solid #8EC39B !important;
    border-radius: 2px !important;
}
.border-custom .head,.border-custom .card-header{
    background-color: rgba(142, 195, 155, 0.2) !important;
}
.border-background{
    background: rgba(142, 195, 155, 0.2);
}
.main-page .button-section ul li a,.main-page .button-section .show{
    padding: 8px 32px !important;
    color:  #8EC39B;
    font-size: 17px;
    display: block;
    height: auto;
    text-align: center;
    height: 45px;
    line-height: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    min-width: 120px !important;
}
.main-page .button-section ul li{
    position: relative;

}
.main-page .button-section ul li:not(:first-child){
    margin-left: 45px;
}
.main-page .button-section ul li span::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    right: -80px;
    background: #000;
    top: 50%;
    transform: translateY(-50%);
}
.food-section .left-gray,.food-section .left-white{
    height: 100%;
}
.island-container small,.high-tea-container small{
    font-size: 16px;
}
.food-section .card-header .selection input[type=radio]:after{
    width:30px;
    height: 30px;
}
.island-container .card{
    min-height: 300px;
}
.addition-icon{
    margin-left: 10px;
}
.review-table-detail  hr:last-of-type{
    display: none;
}
/* .review-table-detail .review-main-item{
    font-size: 12px !important;
} */
.review-table-detail .review-item{
    font-size: 20px !important;
    text-transform: unset !important;
}
/* Thank for order page css */
.success-page{
    margin-top: 50px;
}
.review-detail-contact .order-details-done{
    padding: 30px 40px !important;
}
.success-page-container{
    padding-left: 38px;
}
.order-detail-title{
    position: absolute;
    background-color: #1B1A19;
    left: 15px;
    top: 30px;
    color: #fff;
    padding: 20px 40px;
}
.order-detail-desc{
    margin-top: 110px;
}
.btn.backtotheCafe{
    padding: 20px 40px;
    display: table;
    margin: 0px auto;
    transition: all 0.3s ease;
}
.btn.backtotheCafe:hover{
    background-color: #7eaf8a !important;
}
.delivery-address input{
    margin-bottom: 15px !important;
}
.delivery-text{
    font-size: 18px;
    margin-top: 40px;
    font-weight: 700;
}
.delivery-sub-text{
    font-size: 18px;
}
.delivery-show-time{
    margin-bottom: 20px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.pickup-address p{
    font-size: 24px;
    line-height: 38px;
}
.xdsoft_datepicker.active{
    width: calc(100% - 100px) !important;
}
.xdsoft_datetimepicker{
    width: 100% !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td, .xdsoft_datetimepicker .xdsoft_calendar th{
    border: 0px !important;
    font-size: 18px !important;
    text-align: center !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current{
    background-color: #8EC39B  !important;
    box-shadow: none !important;
    border-radius: 50% !important;
    font-family: "Roboto" !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover{
    border-radius: 50% !important;
}
.xdsoft_datetimepicker .xdsoft_calendar th{
    background: #fff !important;
}
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div{
    font-size: 14px  !important;
}
@media (max-width:575px){
    .food-section .left-gray{
        height: unset;
    }
    .navbar-nav{
        width: 100%;
    }
    .be-wrapper .navbar-nav span {
        font-size: 14px !important;
    }
    .be-left-sidebar .left-sidebar-toggle{
        font-weight: normal !important;
        font-size: 18px !important;
    }
    .banner_overlay_content h1{
        font-size: 40px;
    }
    .promise_content h3{
        font-size: 20px;
    }
    .promise_content h2, .catering_title h2{
        font-size: 30px;
    }
    .footer-social-icon{
        margin-bottom: 20px;
    }
}